body {
  background-color: #000;
  color: #fff;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 16px;
}
