html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Yohann Boniface - Fullstack Student & Pythonista. Quality Code lover, and Proud user of Jetbrains & Tabnine.

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin="anonymous")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap')
        link(rel='stylesheet' href='css/style.css' type='text/css')

    body
        .bg
            img(src='svg/cool-bg.svg' alt='')

        main.landing
            .text
                h1.title Yohann Boniface
                .description
                    p Fullstack Student & Pythonista.
                    p Quality Code lover, and Proud user of
                    p Jetbrains & Tabnine."

            .console
                p
                    span.red >>>